<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication - ToonTech Arena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    
<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="toggleSidebar()">×</a>
    <a href="{{ url_for('home') }}" >HOME</a>
    <a href="{{ url_for('coding') }}">CODING</a>
    <a href="{{ url_for('communication') }}">COMMUNICATION</a>
    <a href="{{ url_for('gaming' )}}">GAMING</a>
    <a href="{{ url_for('quiz') }}">QUIZ & TREASURE</a>
    <a href="{{ url_for('data' )}}">DATA ANALYZING</a>
    <a href="{{ url_for('startup' )}}">STARTUP</a>
    <a href="{{ url_for('show_register_page') }}">✍ Register Now (B.C.A)</a>
    <a href="{{ url_for('show_bba_register_page') }}">✍ Register Now (B.B.A)</a>
</div>

<!-- Sidebar Open Button -->
<button class="open-btn" onclick="toggleSidebar()">☰</button>



    <div class="event-page">
       
        <img src="{{ url_for('static', filename='images/communication.webp') }}" alt="Coding Event" class="event-img">

        <div class="event-details">
            <h2>🎤 Communication Event</h2>
            <p>Master the art of speaking! Express yourself, persuade audiences, and become a confident speaker.</p>
            <p><b>Skills Required:</b> Public Speaking, Debate, Confidence</p>
      
            <script src="{{ url_for('static', filename='register.js') }}"></script>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <script src="{{ url_for('static', filename='sidebar.js') }}"></script>

        </div>
    </div>

    <div>
        <footer class="footer">
            <p>© 2025 ToonTech-Arena.| All Rights Reserved.</p>
        </footer>
    </div>

</body>
</html>
