<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming - ToonTech Arena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <a href="{{ url_for('home') }}" class="back-home">🏠 Back to Home</a>


    <div class="event-page">
       
        <img src="{{ url_for('static', filename='images/gaming.webp') }}" alt="Coding Event" class="event-img">

        <div class="event-details">
            <h2>🎮 Gaming Event</h2>
            <p>Compete in exciting games, showcase your reflexes, and challenge opponents in this high-energy event!</p>
            <p><b>Skills Required:</b> Strategy, Reflexes, Teamwork</p>
        </div>
    </div>

</body>
</html>
