<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup - ToonTech Arena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <a href="{{ url_for('home') }}" class="back-home">🏠 Back to Home</a>


    <div class="event-page">
        
        <img src="{{ url_for('static', filename='images/startup.webp') }}" alt="Coding Event" class="event-img">

        <div class="event-details">
            <h2>🚀 Startup Pitch</h2>
            <p>Present your business idea, impress investors, and turn your startup dream into reality!</p>
            <p><b>Skills Required:</b> Business Strategy, Pitching, Innovation</p>
        </div>
    </div>

</body>
</html>
